<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{{ url_for('static' ,filename='js/form.js') }}"></script>
    <script src="{{ url_for('static' ,filename='main.css') }}"></script>
</head>
<body>
    <div id="home" class="container-fluid">
        {% block home %}{% endblock %}
    </div>

    <main id="book_shelf" role="main" class="container mx-auto" style="display:none">
      <div class="row">
        <div class="col-md-8" id="book_content">
            <div id="recommended_books" style="display: none"></div>
            <div id="history_books" style="display: none"></div>
            <div id="browse_books" style="display: none;"></div>
        </div>
        <div id="menu" class="col-md-4" >
          <div class="content-section">
            <h3 id="page_type"></h3>
            <p class='text-muted' id="page_type_info">
              <ul class="list-group" id="main_list" style="display: none">
                <li class="list-group-item list-group-item-light" id="l_1"><a href="#">Browse</a></li>
                <li class="list-group-item list-group-item-light" id="l_2_1"  style="display: none;" ><a href="#">History</a></li>
                <li class="list-group-item list-group-item-light" id="l_2_2"  style="display: none;"><a href="#">Recommendation</a></li>
                <li class="list-group-item list-group-item-light" id="l_3"><a href="#">Swap User</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
{#model#}
     <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Select a rating</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
              <span>Rating:</span>
              <span id="rating_value" style="font-weight: bold;color: red"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submit_rating">Submit Rating</button>
          </div>
        </div>
      </div>
     </div>
    <!-- Optional JavaScript -->
{#    <!-- jQuery first, then Popper.js, then Bootstrap JS -->#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>