{% for row_index_key,row_obj_value in data.items() %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
{#                <a class="mr-2 give_rating" data-toggle="modal" data-target="#exampleModalCenter" href="#"> Click too rate this book :  </a>#}
            </div>
            <h2><a class="article-title" >{{ row_obj_value['book_title'] }}</a></h2>
            <p class="article-content ISBN">Click to rate ISBN:
                <a class="mr-2 give_rating" data-toggle="modal" data-target="#exampleModalCenter" href="#">{{row_obj_value['ISBN']}}</a>
            </p>
            <p class="article-content">GENRE:{{ row_obj_value['genre']}}</p>
          </div>
        </article>
{% endfor %}
{# model #}

